{% extends "base.html" %}
{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-lg-9">
            <div class = "panel panel-default">
                <div class = "panel-body">
                    <div class = "page-header">
                        <h3>Biography <small>Posted on November 22nd</small></h3>
                    </div>
                    <img class = "featureImg" src="#" width = "100%">
                    <p>Random stuff about the above image</p>
                    <h4>Another title</h4>
                    <p>More written stuff about the image</p>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
