{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css" />
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-3">
            <div class="bs-sidebar hidden-print affix large" role="complementary">
                <ul class="nav bs-sidenav">
                    <li><a href="#berkeley">Education</a>
                    <ul class ="nav ">
                        <li><a href="#berkeley">University of California, Berkeley</a>
                        <li><a href="#mesa">San Diego Mesa College</a>
                    </ul>    
                    </li>
                    <li><a href="#languages">Technical Skills</a>
                    <ul class ="nav ">
                        <li><a href="#languages">Programming Languages</a>
                        <li><a href="#software">Enterprise Software</a>
                        <li><a href="#os">Operating Systems</a>
                        <li><a href="#mediaproduction">Media Production</a>
                    </ul>    
                    </li>
                    <li><a href="#springahead">Experience</a>
                    <ul class ="nav">
                        <li><a href="#springahead">SpringAhead Inc.</a>
                        <li><a href="#sleeplab">Matt Walker Sleep Lab</a>
                        <li><a href="#tapiocaexpress">Tapioca Express</a>
                    </ul>    
                    </li>
                    <li><a href="#basketball">Passions</a>
                    <ul class ="nav">
                        <li><a href="#basketball">Intramural Basketball</a>
                        <li><a href="#stylin">Freestyle Rap</a>
                        <li><a href="#videogames">Video Games</a>
                    </ul>    
                    </li>
                    <li><a href="#references">Professional References</a></li>      
                    <hr>
                    <li><a href="../static/images/Resume_ChrisBest.pdf" >Printable PDF</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" >
            <div class = "panel panel-default panel-body" >
                <h1 id="berkeley">University of California, Berkeley<small id="right"> August 2010 - May 2012 </small> </h1>
                <p>
                B.A. Psychology<br>
                Cum Laude, 3.75 GPA<br><br>
                -Membership in Psi Chi Honors Society<br>
                -Dean's List Spring 2012<br>
                </p>
                <h1 id ="mesa">San Diego Mesa College <small id="right"> January 2008 - May 2010</small></h1>
                <p>
                A.A. Japanese Language Studies<br>
                Magna Cum Laude 3.89 GPA <br><br>
                <b>Director of Transfer Affairs, Honors Club</b><br>
                -Organized conferences and workshops with guest speakers to assist community college students in working towards a university degree.<br>
                -Keynote speaker for Higher Learning Conference at University City High School

                </p>
            </div>
            <div class ="panel panel-default panel-body" >
                <h1 id="languages">Programming Languages</h1>
                <p>
                <b>Python</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i>
                </small><br>
                -Flask for web development<br>
                -PostgreSQL, Sqlite3, MySQL, SQLAlchemy<br>
                -Requests, JSON, DOM, ElementTree, for API interaction & response parsing<br>
                -https://github.com/chr1sbest<br><br>

                <b>MATLAB</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Quantitative data analysis<br>
                -Synthesis of findings in graphical displays<br>
                -Ocular motion analysis<br><br>

                <b>AutoIt</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Scripted mouse-movements to capture smooth footage of Tallie demonstration<br>
                -Scripted commands and data entry to automate tasks. Used these scripts to cut down manual data entry by over 70% while eliminating human error. Per month, this equated to over 20hrs in reduced labor (without accounting for time saved by reducing error)<br>
                -Scripted keyboard input to quickly execute macros<br><br>
                <b>Javascript</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -jQuery<br>
                -Angular.js<br><br>

                <b>Front-end Development</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -HTML5<br>
                -CSS3<br>
                <br>

                <b>Additional Languages*</b><br>
                -C</br>
                -Java SE7<br>
                -NBS Presentation<br>
                -E-Prime<br>
                </p>
                <h1 id ="software">Enterprise Software</h1>
                <p>
                <b>Microsoft Excel</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -VLOOKUP<br>
                -Pivot Tables<br>
                -VBA Macros<br><br>

                <b>Salesforce</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-empty fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Reporting & Dashboard creation<br>
                -Integration with marketing automation software - Pardot<br>
                -Database management and restructuring<br>
                -Salesforce APEX & VisualForce for application development<br>
                <br><br>
                </p>
                <h1 id ="os">Operating Systems</h1>
                <p>
                <b>Linux</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-empty fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Preferred distribution : Ubuntu 13.04 Raring Ringtail<br>
                -Preferred terminal : Terminator<br>
                -Preferred text editor : vim<br>
                -Some experience bash scripting<br><br>

                <b>Windows</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i>
                </small><br>
                -10+ years of experience on Windows<br>
                -8+ years using Microsoft Office Suite<br><br>

                <b>Mac</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Besides iPhone and iPod, relatively less experienced on Apple devices<br><br>
                </p>
                <h1 id ="mediaproduction">Media Production</h1>
                <p>
                <b>Camtasia Studio</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Wrote automation scripts and filmed/edited footage for the expense reimbursement software, Tallie<br>
                -Captured and edited footage for Tallie implementation and troubleshooting guides<br>
                <a href="http://vimeo.com/72319477">-Tallie: Automated Expense Reports</a></p><br>
                <p>
                <b>Audacity</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i>
                </small><br><br>
                -Designed hundreds of audio stimuli for an electrocorticography study in Matt Walker's Sleep Laboratory
                </p>
                <p>
                <b>Pro Tools</b><small id="right" class="larger"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                </small><br>
                -Personal preference of audio mastering software for own projects
                </p>
            </div>
            <div class = "panel panel-default panel-body">

                <h1 id="springahead">SpringAhead Inc.<small id="right"> March 2013 - September 2013</small></h1>
                <p>
                <b>Sales Engineering Intern</b><br>

                -Produced web applications using Python, Flask, and the SpringAhead API (REST) to automate massively time-consuming tasks to complete them in 1%-5% of the time while effectively eliminating user error<br><br>
                -Worked cross-functionally with the engineering, marketing, sales, and support teams to interpret customer needs and facilitate targeted product growth along the product development cycle<br><br>
                -Spearheaded the comprehensive analysis and presentation of sales strategy results and assisted in the training of the sales team in product capabilities, integration, and sales processes<br><br>
                -Developed efficient and effective sales practices with Salesforce & Pardot integration and administration<br><br>
                -Restructured the stylistic design of the support website for SpringAhead's new product, Tallie, using HTML & CSS and composed ~98% of all knowledge-base content for product support<br><br>
                </p>
                <h1 id="sleeplab">Matt Walker Sleep & NeuroImaging Laboratory<small id="right"> January 2011 - March 2012</small></h1>
                <p>
                <b>Research Assistant</b><br>

                -Designed and executed an independent research project involving the collection, analysis, and presentation of qualitative and quantitative data using MATLAB, Microsoft Excel, and Microsoft Powerpoint<br><br>
                -Synthesized hundreds of auditory stimuli and wrote several stimulus presenting scripts using NBS Presentation to conduct sleep-replay experiments for an electrocorticography (ECoG) study<br><br>
                -Assembled and applied polysomnography instruments such as high density 128-electrode electroencephalograms (hdEEG), electrooculograms (EOG), and electromyograms (EMG) to over 50 research participants<br><br>
                -Monitored and analyzed brain wave and eye movement patterns with software dedicated to hdEEG, EOG, and eye-tracker measurement (NetStation, Smart Eye Pro, E-Prime)<br><br>
                -Guest lectured at Berkeley High School on Memory Consolidation and the Detrimental Effects of Sleep Deprivation<br><br>
                </p>

                <h1 id="tapiocaexpress">Tapioca Express<small id="right">August 2007 - August 2010</small></h1>
                <p>
                <b>Store Manager</b><br>
                -Managed daily restaurant operations in areas of inventory control, vendor relations, materials handling, employee training, and mitigation of customer & employee affairs<br><br>
                -Supervised over twenty employees in shift scheduling and delegation of operational duties such as restocking supplies, maintaining quality standards, and opening/closing procedures<br><br>
                -Rapidly advanced to a managerial position due to process innovation and initiative<br><br>

                </p>
            </div>
            <div class = "panel panel-default panel-body">

                <h1 id="basketball">Intramural Basketball<span id="right">
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-half-full fa-lg"></i></span></h1>
                <p>
                <b>Co-Captain<span id="right">September 2010 - Present </span></b><br>
                -Leading teams of seven to twelve basketball players to compete in the Berkeley Intramural League with four division championship titles to date. Competed against 65 other teams to become the overall 1 Place Fall 2012 Champions<br><br>
                -Demonstrating adaptability and versatility by developing skills at all five positions to fill needs of the team and facilitate teammates to play to their strengths <br><br>
                <h1 id="stylin">Freestyle Rap <span id="right"> 
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star-o fa-lg"></i>
                    </span></h1>
                    <p>
                    -Favorite Lyricists: Black Thought, Shad, Mos Def, Andre 3000, Jay-Z, Diverse,<br> <br>
                    -Favorite Producers: Dilla, Nujabes, Freddie Joachim, Apollo Brown, Ant, Flying Lotus, Esta,<br><br>
                    <a href="https://soundcloud.com/statusflo">-Soundcloud</a></p><br>
                    <h1 id ="videogames">Video Games<span id="right">
                    <i class="fa fa-star fa-lg"></i> 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    </span></h1>
                    <p><b>Super Smash Bros (64, Melee, Brawl)</b><br>
                    -Will accept challenges @ any time, any place <br><br>
                    <b>League of Legends</b><br>
                -Ranking: S2 Gold (Top 10%) S3 Platinum (Top 1%)<br>
                -Badge: 'Great Leader' (Top ~0.01%) 'Great Teammate' (Top ~2%)<br><br>
                </p>
            </div>
            <div class="panel panel-default panel-body" >
                <h1 id="references">Professional References</h1><br><br>
                <h2>Chris Farrell<small id="right">CEO, SpringAhead</small></h2><br><br>
                <h2>Claire Milligan<small id="right">Lead Product Designer, SpringAhead</small></h2><br><br>
                <h2>Damon Gage<small id="right">VP of Sales, SpringAhead</small></h2><br><br>
                <h2>Jesse Osborne<small id="right">Director of Sales, SpringAhead</small></h2><br><br>
                <h2>Ingrid Niuwenhuis<small id="right">Director of Neuroscience, Nielsen NeuroFocus</small></h2><br><br>


            </div>
        </div>
    </div>

    <!--Bottom PDF-->
    <div class = "navbar navbar-default navbar-fixed-bottom" style="background-color:transparent; border-color:transparent">
        <div class = "container">
            <a href ="../static/images/Resume_ChrisBest.pdf" class = "navbar-btn btn-danger btn pull-right">Download PDF Summary</a>
        </div>
    </div>

    {% endblock %}

    {% block javascript %}
    <script type="text/javascript">
        ! function ($) {
            $(function () {
                    var $window = $(window)
                    var $body = $(document.body)
                    var $sideBar = $('.bs-sidebar')
                    var navHeight = $('.navbar').outerHeight(true) + 10

                    $body.scrollspy({
target: '.bs-sidebar',
offset: navHeight
})

                    $('.bs-docs-container [href=#]').click(function (e) {
                        e.preventDefault()
                        })

                    $window.on('resize', function () {
                        $body.scrollspy('refresh')
                        // We were resized. Check the position of the nav box
                        $sideBar.affix('checkPosition')
                        })

$window.on('load', function () {
        $body.scrollspy('refresh')
        $('.bs-top').affix();
        $sideBar.affix({
offset: {
top: function () {
var offsetTop = $sideBar.offset().top
var sideBarMargin = parseInt($sideBar.children(0).css('margin-top'), 10)
var navOuterHeight = $('.bs-docs-nav').height()

// We can cache the height of the header (hence the this.top=)
// This function will never be called again.
return (this.top = offsetTop - navOuterHeight - sideBarMargin);
},
bottom: function () {
// We can't cache the height of the footer, since it could change
// when the window is resized. This function will be called every
// time the window is scrolled or resized
return $('.bs-footer').outerHeight(true)
}
}
})
setTimeout(function () {
        // Check the position of the nav box ASAP
        $sideBar.affix('checkPosition')
        }, 10);
setTimeout(function () {
        // Check it again after a while (required for IE)
        $sideBar.affix('checkPosition')
        }, 100);
});

// tooltip demo
$('.tooltip-demo').tooltip({
selector: "[data-toggle=tooltip]",
container: "body"
})

$('.tooltip-test').tooltip()
$('.popover-test').popover()

$('.bs-docs-navbar').tooltip({
selector: "a[data-toggle=tooltip]",
container: ".bs-docs-navbar .nav"
})
})
}(window.jQuery)
</script>
{% endblock %}

