<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>chrisbe.st</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal Website">
        <meta name="author" content="Chris Best">
        <script src="../static/js/analytics.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/face.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/favicon.ico" > 
        
    </head>
    <body>
        <header class="fixed background-navy" style="margin-bottom:0px">
            <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                    data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                </button>
                <span class="navigation title chrisbest">
                    <a href="#start" style="width:150px; float:left; text-decoration:none;">
                        chrisbe.st
                    </a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul style="margin-top:0px; background-color: rgba(0,0,0,0.8)" class="nav navbar-nav navigation pull-right">
                    <li class="title cl-effect-1 ">
                        <a href="#start" class="s-tooltip subheader" data-original-title="Find more about me" data-placement="bottom">about</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#skills" class="s-tooltip subheader" data-original-title="The skills with which I pay the bills" data-placement="bottom">skills</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#projects"  class="s-tooltip subheader" data-original-title="Recent projects" data-placement="bottom">projects</a>
                    </li>
                    <li class="title cl-effect-1">
                        <a href="http://blog.chrisbe.st" class="s-tooltip subheader" >blog</a>
                    </li>
               </ul>
            </div>
            </nav>
        </header>
        
        <div class="container">
          <!-- ABOUT ME -->
          <h1 id="start" style="margin-top:0px"></h1>
          <div class="row">
            <div class = "col-sm-4 facePic">
              <br><br>
              <div class="ch-item circular-image">
                <div class="ch-info">
                  <h3 style:"text-align:center" >Chris Best</h3>
                  <p> <a href="https://www.youtube.com/watch?v=y6Sxv-sUYtM"></a>Full-Stack Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-7">
              <h1 style="padding-bottom:10px">About Me</h1>
              <h3>Hello!</h3>
              <p>I'm a full-stack software engineer currently residing in San Francisco. Although I graduated from UC Berkeley with a degree in Psychology and a background in Sleep and Neuroimaging research, I fell in love with computer science and software development after automating myself out of a job.
              </p>
              <p>
                While my path to become a software engineer has been anything but traditional, I've placed a heavy focus on strengthening my fundamentals over the past year, from studying the more academic OOP Design patterns, Data Structures, and Algorithmic Analysis to industry oriented TDD/BDD, Lean Methodology, Version Control Practices, and Service Oriented Architectures. With my curiosity and persistence to pick up new tools, I've been able to apply the fundamental knowledge I've gained to rapidly grow into the engineer that I am today.
              </p>
              <p>However, I still have a long ways to go!</p>
              <p>Read more about my story below :D</p>
            </div>
            <div class="col-sm-12">
              <div class="panel-group" id="accordion">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                  <h1 style="padding-bottom:10px">About Me (Extended)
                    <span style="font-size:30px" class="glyphicon glyphicon-collapse-down"></span>
                  </h1>
                </a>
              </h4>
            </div>
            <div id="accordionOne" class="panel-collapse collapse">
              <div class="panel-body">
                <h3>Humble Beginnings</h3>
                <p>Before I was serious about software engineering, I was a neuroimaging researcher and psychology student at UC Berkeley. I wrote a few MATLAB scripts here and there, but I spent most of my time reading research publications and designing my own studies. In my two years slaving away in the lab, I found that the research life and the path to professorship, my dream career since childhood, wasn't as appealing and fulfilling as I had anticipated. I graduated with a B.A. in Psychology and wanted to find something different.<br></p>
                <br>
                <p>I took a job at SpringAhead, a mid-sized startup, writing technical documentation. The job just required that I could navigate their software product and write coherent documentation for their customers. Aside from writing technical documentation, I was assigned to fill in gaps and take care of tasks for different teams. One of these tasks was to manually input 40 man-hours worth of excel data into one of their older software services. I went home that night, read up on a scripting language "Auto-It", and wrote a crude automation script to do my work for me the next day. The team was impressed. I spoke to a few of the engineers and they recommended that I teach myself Python, cURL, the service's internal API, and figure out how to improve my script. A few nights later, my script was able to take care of 40+ hours of work, without human error, in a few seconds. <br><br>"Awesome. I could get used to this."</p>
                <h3>Coffee, Ramen, and Fundamentals </h3>
                <p>After spending a few months wearing every hat I could at SpringAhead, I realized that it was best for me to specialize. I had been teaching myself Python and basic frontend HTML/CSS after work, but I wanted to get serious about being a web developer. I went to a few software engineer friends for advice -- they helped me draw out a curriculum to build all of the skills I would need to get by in my first developer job. I left SpringAhead to study this curriculum full-time.</p>
                <p>The curriculum revolved around two UC Berkeley Computer Science courses, 61A: "The Structure and Interpretation of Computer Programs" and 61B "Data Structures." Aside from working through the academic courses, I spent my time becoming familiar with Git, basic web development principles, and building a few applications. For 12 weeks, I spent six days a week in cafes around Berkeley and lived almost exclusively off of coffee and ramen.<p>
                <h3>Drinking from the Fire Hose (or Gathering Intel by River)</h3>
                <p>After my 12-week stint in my hyperbolic-timechamber for web development, I emerged and sought out real employment. I applied to a handful of junior level jobs and received a few offers. With the desire to grow as fast as possible, I picked the position with the biggest shoes to fill. With a stroke of the pen, I became half of the engineering team at IntelRiver.
                </p>
                <p>Working at IntelRiver was by far the most difficult and rewarding chapter of my life. With the other half of the engineering team focused mostly on Computer Vision algorithms, I was responsible for the design and implementation of everything from the automated deployment scripts, to data storage and caching, to the single-page app frontend, to the d3 data visualizations, and everything in between. Each day was often a frustrating, but always rewarding, venture from my comfort zone.</p>
                <p> Although we built our prototype out and had it functional enough to land a handful of customers, long story short, we didn't secure enough funding to continue. After cowboy coding for a month, I decided it was best for me to bow out as well.</p>
                <h3>Coffee, Bagels, and Fundamentals</h3>
                <p>Although I was able to grind through most of the tasks assigned to me at IntelRiver, there was a noticeable difference between my approach to problems and my mentor's approach to problems. I approached problems looking for a solution while my mentor approached problems looking to build a tool to solve similar problems in the future.</p>
                <p>
                I drew out a new curriculum to address my weaknesses and stepped back into my hyperbolic time-chamber. I spent two months studying topics ranging from OOP Design Patterns, Functional Programming, Algorithm Analysis, and Service Oriented Archictures. To implement my new knowledge, I built out a few interpreters, some REST API's, and bunch of apps here and there using algorithms and data structures I had recently learned. I've eaten more bagels this month than I have in the past few years.
                </p>
                <h3>Today </h3>
                <p>Just starting work as a backend software engineer for DecisionNext!
                </p>
              </div>
            </div>
          </div>
          </div>
          <!-- ABOUT ME END-->
            
            <!-- SKILLS -->
            <div id="skills"></div><br> <!--Hack for scrollTo navigation-->
            <h1 style="margin-top:50px">Skills <small> (Hover)</small></h1>
            <div class="row">
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default chart-btn" dataset="languages">Languages</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="frameworks">Frameworks</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="servers">Servers</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="frontend">Frontend</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="data">Data</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="extra">Extra</button>
                    </div>
                    <div id="d3Chart"></div>
                </div>
                <div style="text-align:center" class="col-sm-4 education">
                    <h2><b>Education</b></h2>
                    
                    <h4>University of California, Berkeley</h4>
                    <p>2010 - 2012<br />B.A. Psychology - Cum Laude (3.75)</p>
                    
                    <h4>San Diego Mesa College</h4>
                    <p>2008 - 2010<br />A.A. Japanese - Magna Cum Laude (3.89)</p>
                    <br>
                </div>
            </div>
            <h2 style="text-align:center"><b>Work experience</b></h2>
            <div class="row">
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Software Engineer</h4>
                        <p>DecisionNext<br />Sept 2014 - Present</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Software Engineer & Cofounder</h4>
                        <p>IntelRiver<br />Jan 2014 - Jun 2014</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Product Management Intern</h4>
                        <p>SpringAhead<br />Mar 2013 - Sept 2013</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Research Assistant</h4>
                        <p>Sleep & NeuroImaging Laboratory<br />Jan 2011 - Jan 2013</p>
                    </div>
                </div>
            </div>
            <!-- SKILLS END -->

            <h1 id="projects" style="height:0px; margin:0px;"></h1><br> <!--Hack for scrollto Nav-->
            <div class="row">
              <div class="col-md-12">
              <h1 style="margin-top:50px">Projects</h1>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <a target="_blank" href="http://closebus.herokuapp.com">
                        <img src="static/images/closebus.png" alt="Closebus - Realtime Travel Estimator">
                      </a>
                      <div class="carousel-caption">
                        Realtime Travel Updates
                      </div>
                    </div>
                    <div class="item">
                      <a target="_blank" href="http://d3-connect-four.herokuapp.com">
                        <img src="static/images/c4.png" alt="D3 Connect-Four">
                      </a>
                        <div class="carousel-caption">
                        D3.js Connect-Four
                      </div>
                    </div>
                    <div class="item">
                      <a target="_blank" href="https://chrome.google.com/webstore/search/minihypemachine">
                        <img src="static/images/hype.png" alt="Mini-HypeMachine">
                      </a>
                      <div class="carousel-caption">
                        HypeMachine Chrome Extension
                      </div>
                    </div>
                    <div class="item">
                      <a target="_blank" href="http://node-socket-redis-simplechat.herokuapp.com/">
                        <img src="static/images/chat.png" alt="Socket.io ChatServer">
                      </a>
                      <div class="carousel-caption">
                        Socket.io Chatserver
                      </div>
                    </div>
                    <div class="item">
                      <a target="_blank" href="http://blog.chrisbe.st/">
                        <img src="static/images/blog.png" alt="blog.chrisbe.st">
                      </a>
                      <div class="carousel-caption">
                        blog.chrisbe.st
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <!--BlOG END-->
            
            <!-- CONTACT -->
            <div id="contact"></div><br> <!--Hack for scrollTo navigation-->
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="margin-top:50px">Contact Me</h1>
                    <form>
                        <h4>E-mail</h4>
                            <div class="border-stripes">
                                <input type="email" class="textfield" id="contact-email" name="email" placeholder="Your e-mail address" />
                            </div>
                        <h4>Message</h4>
                            <div class="border-stripes">
                                <textarea class="textarea" name="contact-message" id="contact-msg" rows="3" placeholder="Your message"></textarea>
                            </div><br/><br/>
                            <button type="submit" class="btn btn-primary" id="submit-button"> 
                                <i id="spinner" class="fa"></i> Send message 
                            </button>
                    </form>
                </div>
                <br><br><br>
                <h3>Or reach me at:</h3>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a style="color:#428bca"href="https://facebook.com/chrisbest">
                            <img class="opacity social_img" src="../static/images/social_media/facebook.png" title="facebook" />
                            fb/chrisbest</a>
                        </li>
                        <li><a style="color:#428bca"href="https://twitter.com/chr2sbest">
                            <img class="opacity social_img" src="../static/images/social_media/twitter.png" title="twitter" />
                            twitter/chr2sbest</a>
                        </li>
                        <li><a style="color:#428bca"href="https://linkedin.com/in/chr1sbest/">
                            <img class="opacity social_img" src="../static/images/social_media/linkedin.png"  title="LinkedIn" />
                            linkedin/chr1sbest</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a style="color:#428bca"href="https://github.com/chr1sbest">
                            <img class="opacity social_img" src="../static/images/social_media/Github.png"  title="GitHub"/>
                            github/chr1sbest</a>
                        </li>
                        <li><a style="color:#428bca"href="https://plus.google.com/101037855129952223400">
                            <img class="opacity social_img" src="../static/images/social_media/g+.png" title="G+"/>
                            g+/chr1sbest</a>
                        </li>
                        <li><a style="color:#428bca"href="https://soundcloud.com/statusflo">
                            <img class="opacity social_img"  src="../static/images/social_media/soundcloud.png" title="SoundCloud"/>
                            sc/statusflo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="boot-alert"></div>
            <!-- CONTACTS END -->
        </div>

        <div id="scroll-to-top">
        <!-- ScrolltoTop -->
        <a href="#" class="scroll-to-top s-tooltip" data-placement="left" data-original-title="Scroll to top">
            <span class="box">
                <i class="fa fa-chevron-up"/></i>
            </span>
        </a>
        </div>
        
        <footer class="background-navy">
            <div class="container">
                <div class="pull-left">Copyright &copy; 2014</div>
            </div>
        </footer>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.scrollTo.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/slidesjs/3.0/jquery.slides.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
        <script src="../static/js/style.js"></script>
    </body>
</html>
