<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>chrisbe.st</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal Website">
        <meta name="author" content="Chris Best">
        <script src="../static/js/analytics.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/ekko-lightbox.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/face.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/favicon.ico" > 
    </head>
    <body>
        <header class="fixed background-navy" style="margin-bottom:0px">
            <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                    data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                </button>
                <span class="navigation title chrisbest">
                    <a target="_blank" href="#start" style="width:150px; float:left; text-decoration:none; color:#E2E2E2;">
                        chrisbe.st
                    </a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul style="margin-top:0px; background-color: rgba(0,0,0,0.8)" class="nav navbar-nav navigation pull-right">
                    <li class="title cl-effect-1 ">
                        <a href="#start" class="s-tooltip subheader" data-original-title="Find more about me" data-placement="bottom">about</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#skills" class="s-tooltip subheader" data-original-title="The skills with which I pay the bills" data-placement="bottom">skills</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#projects"  class="s-tooltip subheader" data-original-title="Recent projects" data-placement="bottom">projects</a>
                    </li>
                    <li class="title cl-effect-1">
                        <a href="#contact" class="s-tooltip subheader" >contact</a>
                    </li>
               </ul>
            </div>
            </nav>
        </header>
        
        <div class="container">
          <!-- ABOUT ME -->
          <h1 id="start" style="margin-top:0px"></h1>
          <div class="row">
            <div class = "col-sm-4 facePic">
              <br><br>
              <div class="ch-item circular-image">
                <div class="ch-info">
                  <h3 style:"text-align:center" >Chris Best</h3>
                  <p> <a href="https://www.youtube.com/watch?v=y6Sxv-sUYtM"></a>Full-Stack Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-7">
              <h1 style="padding-bottom:10px">About Me</h1>
              <h3>Hello!</h3>
              <p style="font-size:19px">I'm a full-stack software engineer currently residing in San Francisco. I graduated from UC Berkeley in 2012 with a degree in Psychology and have been teaching myself computer science over the past two years by auditing courses, fervently reading publications, and building software. 
              </p>
            </div>
          </div>
          <!-- ABOUT ME END-->
            
            <!-- Blog -->
            <div id="blog"></div><br> <!--Hack for scrollTo navigation-->
            <h1 style="margin-top:50px">Recent Blog Posts</h1>
            <div class="row">
                <div class="col-sm-4">
                  <h4>
                    <a target="_blank" href="http://blog.chrisbe.st/articles/coding/two-years-of-vim">
                      Two Years of Vim
                    </a>
                  </h4>
                  <p>There are a ton of different reasons that I would recommend vim -- lightweight, extendable, ubiquitous, high skillcap, etc. But there is really only one reason that I come back to it every day: It just feels good. Here are my favorite customizations I've made with my .vimrc and vim-related hacks I've found over the last two years.</p>
                </div>

                <div class="col-sm-4">
                  <h4>
                    <a target="_blank" href="http://blog.chrisbe.st/articles/cs/61c">
                    UC Berkeley 61C: Course Review
                    </a>
                  </h4>
                    <p>Coming from a student of 61A and 61B, this course connects all of the dots under the hood that give life to the code you've been writing. At a more general level, this course revolves around "6 Great Ideas in Computer Architecture" and serves as an introduction and foundation to many upper-division CS courses.</p>
                </div>

                <div class="col-sm-4">
                  <h4>
                    <a target="_blank" href="http://blog.chrisbe.st/articles/coding/decorators">
                      Introduction to Python @Decorators
                    </a>
                  </h4>
                    <p>This article will serve as an introduction to modifying the behaviors of existing functions while reducing code complexity by writing reusable @decorators.</p>
                </div>
            </div>
            <!-- END BLOG -->

            <!-- SKILLS -->
            <div id="skills"></div><br> <!--Hack for scrollTo navigation-->
            <h1 style="margin-top:50px">Skills <small> (Hover)</small></h1>
            <div class="row">
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default chart-btn" dataset="languages">Languages</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="devops">DevOps</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="frontend">Frontend</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="data">Data</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="extra">Extra</button>
                    </div>
                    <div id="d3Chart"></div>
                </div>
                <div style="text-align:center" class="col-sm-4 education">
                  <h2><b>Education</b></h2><br>
                    <h4>University of California, Berkeley</h4>
                    <p>2010 - 2012<br />B.A. Psychology - Cum Laude (3.75)</p><br>
                    <h4>San Diego Mesa College</h4>
                    <p>2008 - 2010<br />A.A. Japanese - Magna Cum Laude (3.89)</p>
                    <br>
                </div>
            </div>
            <h2 style="text-align:center"><b>Work experience</b></h2>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div style="text-align:center">
                        <h4>Software Engineer</h4>
                        <p>DecisionNext<br />Sept 2014 - Present</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div style="text-align:center">
                        <h4>Software Engineer/Co-founder</h4>
                        <p>IntelRiver<br />Jan 2014 - Jun 2014</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div style="text-align:center">
                        <h4>Product Management Intern</h4>
                        <p>SpringAhead<br />Mar 2013 - Sept 2013</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div style="text-align:center">
                        <h4>Research Assistant</h4>
                        <p>Sleep & NeuroImaging Laboratory<br />Jan 2011 - Jan 2013</p>
                    </div>
                </div>
            </div>
            <!-- SKILLS END -->

            <!-- PROJECTS -->
            <h1 id="projects" style="height:0px; margin:0px;"></h1><br> <!--Hack for scrollto Nav-->
            <div class="row">
              <div class="col-md-12">
              <h1 style="margin-top:50px">Projects</h1>
                <div id="isotope-container">
                  <!-- CloseBus -->
                  <a href="../static/images/project_images/closebus.png" data-toggle="lightbox" data-title="CloseBus - Realtime Travel Estimates for Public Transportation <a href='http://closebus.herokuapp.com' target='_blank'>[Link]</a>" data-footer="Realtime travel estimator supporting public transport agencies in San Francisco, New York City, Los Angeles, and Chicago. Built with Flask, Backbone.js, Google Places API, Redis. View repository on <a href='http://github.com/chr1sbest/closebus' target='_blank'>Github.</a>">
                    <img class="project" src="../static/images/project_images/closebus.png">
                  </a>
                  <!-- ConnectFour -->
                  <a href="../static/images/project_images/c4.png" data-toggle="lightbox" data-title="D3 Connect-Four" data-footer="Connect-four game supporting NxN dimension boards and connect-n win conditions. Built with D3, Flask, and Bootstrap 3. View repository on <a href='https://github.com/chr1sbest/d3-connect-four' target='_blank'>Github.</a>">
                    <img class="project" src="../static/images/project_images/c4.png">
                  </a>
                  <!-- HypeMachine -->
                  <a href="../static/images/project_images/hype.png" data-toggle="lightbox" data-title="Hype Machine Chrome Extension <a href='https://chrome.google.com/webstore/detail/mini-hype-machine/gapbfjblfificgojgkfjdlhcdbifeflb?hl=en' target='_blank'>[Link]</a>" data-footer="Chrome Extension for global playlist navigation with hotkeys. View repository on <a href='https://github.com/markdunphy/Mini-Hype-Machine' target='_blank'>Github.</a>">
                    <img class="project" src="../static/images/project_images/hype.png">
                  </a>
                  <!-- Socket.io -->
                  <a href="../static/images/project_images/chat.png" data-toggle="lightbox" data-title="Live Chat Server using Websockets <a href='http://node-socket-redis-simplechat.herokuapp.com/' target='_blank'>[Link]</a>" data-footer="Realtime chat server built with Node, Socket.io, and Bootstrap 3. View repository on <a href='https://github.com/chr1sbest/node-chatserver' target='_blank'>Github.</a>">
                    <img class="project" src="../static/images/project_images/chat.png">
                  </a>
                  <!-- Wellforce -->
                  <a href="../static/images/project_images/wellforce.png" data-toggle="lightbox" data-title="WellForce - Wearables Analytics for Salesforce <a href='http://wellforce.herokuapp.com/' target='_blank'>[Link]</a>" data-footer="Salesforce application using integration with FitBit and Jawbone to quantify the effect of good health practices on work performance. Built with Node, Angular, and Bootstrap 3 for DreamForce Hackathon 2014.">
                    <img class="project" src="../static/images/project_images/wellforce_square.png">
                  </a>
                  <!-- Blog -->
                  <a href="../static/images/project_images/blog.png" data-toggle="lightbox" data-title="HarpJS Static Blog Server <a href='http://blog.chrisbe.st' target='_blank'>[Link]</a>" data-footer="Built with Node, Harp, and Bootstrap 3. View repository on <a href='https://github.com/chr1sbest/blog.chrisbest' target='_blank'>Github.</a>">
                    <img class="project" src="../static/images/project_images/blog.png">
                  </a>
                  <!-- intelRiver -->
                  <a href="../static/images/project_images/intelriver.png" data-toggle="lightbox" data-title="intelRiver - Quantified Camera Analytics for Retail" data-footer="Analytics dashboard using quantified camera data processed with OpenCV to measure foot traffic within retail spaces. Built with Django, Node, OpenCV, Backbone, D3, and Bootstrap 3.</a>">
                    <img class="project" src="../static/images/project_images/iriver.png">
                  </a>
                </div>
              </div>
            </div>
            <!--BlOG END-->

            <!-- CONTACT -->
            <div id="contact"></div><br> <!--Hack for scrollTo navigation-->
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="margin-top:50px">Contact Me</h1>
                    <form>
                        <h4>E-mail</h4>
                            <div class="border-stripes">
                                <input type="email" class="textfield" id="contact-email" name="email" placeholder="Your e-mail address" />
                            </div>
                        <h4>Message</h4>
                            <div class="border-stripes">
                                <textarea class="textarea" name="contact-message" id="contact-msg" rows="3" placeholder="Your message"></textarea>
                            </div><br/><br/>
                            <button type="submit" class="btn btn-primary" id="submit-button"> 
                                <i id="spinner" class="fa"></i> Send message 
                            </button>
                    </form>
                </div>
                <br><br><br>
                <h3>Or reach me at:</h3>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a href="https://facebook.com/chrisbest">
                            <img class="opacity social_img" src="../static/images/social_media/facebook.png" title="facebook" />
                            fb/chrisbest</a>
                        </li>
                        <li><a href="https://twitter.com/chr2sbest">
                            <img class="opacity social_img" src="../static/images/social_media/twitter.png" title="twitter" />
                            twitter/chr2sbest</a>
                        </li>
                        <li><a href="https://linkedin.com/in/chr1sbest/">
                            <img class="opacity social_img" src="../static/images/social_media/linkedin.png"  title="LinkedIn" />
                            linkedin/chr1sbest</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a href="https://github.com/chr1sbest">
                            <img class="opacity social_img" src="../static/images/social_media/Github.png"  title="GitHub"/>
                            github/chr1sbest</a>
                        </li>
                        <li><a href="https://plus.google.com/101037855129952223400">
                            <img class="opacity social_img" src="../static/images/social_media/g+.png" title="G+"/>
                            g+/chr1sbest</a>
                        </li>
                        <li><a href="https://soundcloud.com/statusflo">
                            <img class="opacity social_img"  src="../static/images/social_media/soundcloud.png" title="SoundCloud"/>
                            sc/statusflo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="boot-alert"></div>
            <!-- CONTACTS END -->
        </div>

        <div id="scroll-to-top">
        <!-- ScrolltoTop -->
        <a style="color:#E2E2E2" href="#" class="scroll-to-top s-tooltip" data-placement="left" data-original-title="Scroll to top">
            <span class="box">
                <i class="fa fa-chevron-up"/></i>
            </span>
        </a>
        </div>
        
        <footer class="background-navy">
            <div class="container">
                <div class="pull-left">Copyright &copy; 2014</div>
            </div>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
        <script src="../static/js/jquery.scrollTo.js"></script>
        <script src="../static/js/ekko-lightbox.js"></script>
        <script src="../static/js/style.js"></script>
    </body>
</html>
