<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>chrisbe.st</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal Website">
        <meta name="author" content="Chris Best">
        <script src="../static/js/analytics.js"></script>
        <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/ekko-lightbox.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/face.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/favicon.ico" > 
        
    </head>
    <body>
        <header class="fixed background-navy" style="margin-bottom:0px">
            <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                    data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                    <span class="icon-bar black"></span>
                </button>
                <span class="navigation title chrisbest">
                    <a target="_blank" href="#start" style="width:150px; float:left; text-decoration:none; color:#E2E2E2;">
                        chrisbe.st
                    </a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul style="margin-top:0px; background-color: rgba(0,0,0,0.8)" class="nav navbar-nav navigation pull-right">
                    <li class="title cl-effect-1 ">
                        <a href="#start" class="s-tooltip subheader" data-original-title="Find more about me" data-placement="bottom">about</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#skills" class="s-tooltip subheader" data-original-title="The skills with which I pay the bills" data-placement="bottom">skills</a>
                    </li>
                    <li class="title cl-effect-1 ">
                        <a href="#projects"  class="s-tooltip subheader" data-original-title="Recent projects" data-placement="bottom">projects</a>
                    </li>
                    <li class="title cl-effect-1">
                        <a href="#contact" class="s-tooltip subheader" >contact</a>
                    </li>
               </ul>
            </div>
            </nav>
        </header>
        
        <div class="container">
          <!-- ABOUT ME -->
          <h1 id="start" style="margin-top:0px"></h1>
          <div class="row">
            <div class = "col-sm-4 facePic">
              <br><br>
              <div class="ch-item circular-image">
                <div class="ch-info">
                  <h3 style:"text-align:center" >Chris Best</h3>
                  <p> <a href="https://www.youtube.com/watch?v=y6Sxv-sUYtM"></a>Full-Stack Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-7">
              <h1 style="padding-bottom:10px">About Me</h1>
              <h3>Hello!</h3>
              <p style="font-size:19px">I'm a full-stack software engineer currently residing in San Francisco. I graduated from UC Berkeley in 2012 with a degree in Psychology and have been teaching myself computer science over the past two years by auditing courses, reading publications fervently, and  building software. 
              </p>
            </div>
          </div>
          <!-- ABOUT ME END-->
            
            <!-- Blog -->
            <div id="blog"></div><br> <!--Hack for scrollTo navigation-->
            <h1 style="margin-top:50px">Recent Blog Posts</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Two Years of Vim</h4>
                    <p>Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs hljd fhjs dfhj skjf sdh</p>
                </div>

                <div class="col-sm-4">
                    <h4>Two Years of Vim</h4>
                    <p>Lorem ipsumsdfs ksd Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs fls dfs hljd fhjs dfhj skjf sdh</p>
                </div>

                <div class="col-sm-4">
                    <h4>Two Years of Vim</h4>
                    <p>Lorem ipsumsdfs ksd fls dfs hljd fhjs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs Lorem ipsumsdfs ksd fls dfs dfhj skjf sdh</p>
                </div>
            </div>
            <!-- END BLOG -->

            <!-- SKILLS -->
            <div id="skills"></div><br> <!--Hack for scrollTo navigation-->
            <h1 style="margin-top:50px">Skills <small> (Hover)</small></h1>
            <div class="row">
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default chart-btn" dataset="languages">Languages</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="frameworks">Frameworks</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="servers">Servers</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="frontend">Frontend</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="data">Data</button>
                        <button type="button" class="btn btn-default chart-btn" dataset="extra">Extra</button>
                    </div>
                    <div id="d3Chart"></div>
                </div>
                <div style="text-align:center" class="col-sm-4 education">
                    <h2><b>Education</b></h2>
                    
                    <h4>University of California, Berkeley</h4>
                    <p>2010 - 2012<br />B.A. Psychology - Cum Laude (3.75)</p>
                    
                    <h4>San Diego Mesa College</h4>
                    <p>2008 - 2010<br />A.A. Japanese - Magna Cum Laude (3.89)</p>
                    <br>
                </div>
            </div>
            <h2 style="text-align:center"><b>Work experience</b></h2>
            <div class="row">
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Software Engineer</h4>
                        <p>DecisionNext<br />Sept 2014 - Present</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Software Engineer & Cofounder</h4>
                        <p>IntelRiver<br />Jan 2014 - Jun 2014</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Product Management Intern</h4>
                        <p>SpringAhead<br />Mar 2013 - Sept 2013</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="text-align:center">
                        <h4>Research Assistant</h4>
                        <p>Sleep & NeuroImaging Laboratory<br />Jan 2011 - Jan 2013</p>
                    </div>
                </div>
            </div>
            <!-- SKILLS END -->

            <!-- PROJECTS -->
            <h1 id="projects" style="height:0px; margin:0px;"></h1><br> <!--Hack for scrollto Nav-->
            <div class="row">
              <div class="col-md-12">
              <h1 style="margin-top:50px">Projects</h1>
                <div id="isotope-container">
                  <!-- CloseBus -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                  <!-- ConnectFour -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                  <!-- HypeMachine -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                  <!-- Socket.io -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                  <!-- Wellforce -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                  <!-- Blog -->
                  <a href="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg" data-toggle="lightbox" data-title="some title" data-footer="some footer">
                    <img class="project" src="http://prismmpls.org/wp-content/uploads/2012/07/black-square_1000.jpg">
                  </a>
                </div>
              </div>
            </div>
            <!--BlOG END-->

            <!-- CONTACT -->
            <div id="contact"></div><br> <!--Hack for scrollTo navigation-->
            <div class="row">
                <div class="col-sm-6">
                    <h1 style="margin-top:50px">Contact Me</h1>
                    <form>
                        <h4>E-mail</h4>
                            <div class="border-stripes">
                                <input type="email" class="textfield" id="contact-email" name="email" placeholder="Your e-mail address" />
                            </div>
                        <h4>Message</h4>
                            <div class="border-stripes">
                                <textarea class="textarea" name="contact-message" id="contact-msg" rows="3" placeholder="Your message"></textarea>
                            </div><br/><br/>
                            <button type="submit" class="btn btn-primary" id="submit-button"> 
                                <i id="spinner" class="fa"></i> Send message 
                            </button>
                    </form>
                </div>
                <br><br><br>
                <h3>Or reach me at:</h3>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a href="https://facebook.com/chrisbest">
                            <img class="opacity social_img" src="../static/images/social_media/facebook.png" title="facebook" />
                            fb/chrisbest</a>
                        </li>
                        <li><a href="https://twitter.com/chr2sbest">
                            <img class="opacity social_img" src="../static/images/social_media/twitter.png" title="twitter" />
                            twitter/chr2sbest</a>
                        </li>
                        <li><a href="https://linkedin.com/in/chr1sbest/">
                            <img class="opacity social_img" src="../static/images/social_media/linkedin.png"  title="LinkedIn" />
                            linkedin/chr1sbest</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="social-list">
                        <li><a href="https://github.com/chr1sbest">
                            <img class="opacity social_img" src="../static/images/social_media/Github.png"  title="GitHub"/>
                            github/chr1sbest</a>
                        </li>
                        <li><a href="https://plus.google.com/101037855129952223400">
                            <img class="opacity social_img" src="../static/images/social_media/g+.png" title="G+"/>
                            g+/chr1sbest</a>
                        </li>
                        <li><a href="https://soundcloud.com/statusflo">
                            <img class="opacity social_img"  src="../static/images/social_media/soundcloud.png" title="SoundCloud"/>
                            sc/statusflo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="boot-alert"></div>
            <!-- CONTACTS END -->
        </div>

        <div id="scroll-to-top">
        <!-- ScrolltoTop -->
        <a style="color:#E2E2E2" href="#" class="scroll-to-top s-tooltip" data-placement="left" data-original-title="Scroll to top">
            <span class="box">
                <i class="fa fa-chevron-up"/></i>
            </span>
        </a>
        </div>
        
        <footer class="background-navy">
            <div class="container">
                <div class="pull-left">Copyright &copy; 2014</div>
            </div>
        </footer>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.scrollTo.js"></script>
        <script src="../static/js/ekko-lightbox.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/slidesjs/3.0/jquery.slides.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
        <script src="../static/js/style.js"></script>
    </body>
</html>
