<!DOCTYPE HTML>
</html>
<div id="alert-pass">
    <div class="alert alert-success alert-dismissable col-md-8 col-md-offset-2" data-spy="affix" data-offset-top="200" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Successly delivered email!</strong> Thanks for the message :)
    </div>
</div>
<div id="alert-fail">
    <div class="alert alert-warning alert-dismissable col-md-8 col-md-offset-2 " >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Oh no!</strong> Something went wrong. Contact me directly at hello@chrisbe.st
    </div>
</div>
</html>
